# code: language=yaml
#
# Helm release for knative-operator
#

{{- $knOp := $state.knativeOperator }}
{{- $operatorComponent := dict
  "resources" (dict
    "requests" (dict "cpu" "15m" "memory" "100Mi")
    "limits" (dict "cpu" "1000m" "memory" "512Mi")
  )
}}
{{- $webhookComponent := dict
  "resources" (dict
    "requests" (dict "cpu" "15m" "memory" "284Mi")
    "limits" (dict "cpu" "500m" "memory" "512Mi")
  )
}}
{{- if $state.nodePool.enabled }}
  {{- $_ := set $operatorComponent "affinity" $state.nodePool.affinity }}
  {{- $_ := set $operatorComponent "tolerations" $state.nodePool.tolerations }}
  {{- $webhookAffinity := deepCopy $state.nodePool.affinity }}
  {{- $_ := set $webhookAffinity "podAntiAffinity" (dict
    "preferredDuringSchedulingIgnoredDuringExecution" (list
      (dict
        "weight" 100
        "podAffinityTerm" (dict
          "labelSelector" (dict "matchLabels" (dict "app" "operator-webhook"))
          "topologyKey" "kubernetes.io/hostname"
        )
      )
    )
  ) }}
  {{- $_ := set $webhookComponent "affinity" $webhookAffinity }}
  {{- $_ := set $webhookComponent "tolerations" $state.nodePool.tolerations }}
{{- end }}
{{- $operatorDefaults := dict
  "knative_operator" (dict
    "knative_operator" $operatorComponent
    "operator_webhook" $webhookComponent
  )
}}
# renovate: datasource=helm depName=knative-operator registryUrl=https://knative.github.io/operator
{{- $operatorChartVersion := "v1.23.1" }}

---
apiVersion: helm.m.crossplane.io/v1beta1
kind: Release
metadata:
  name: {{ $state.name }}-{{ $knOp.name }}
  annotations:
    {{ setResourceNameAnnotation "knative-operator" }}
  labels: {{ $state.labels | toJson }}
spec:
  managementPolicies: {{ $state.managementPolicies | toJson }}
  forProvider:
    chart:
      name: knative-operator
      repository: https://knative.github.io/operator
      url: {{ printf "https://github.com/knative/operator/releases/download/knative-v%s/knative-operator-v%s.tgz" $operatorChartVersion $operatorChartVersion }}
      version: {{ $operatorChartVersion }}
    namespace: {{ $knOp.namespace }}
    wait: true
    {{- if $knOp.overrideAllValues }}
    values:
      {{- toYaml $knOp.overrideAllValues | nindent 6 }}
    {{- else }}
    {{- $mergedValues := mergeOverwrite $operatorDefaults ($knOp.values | default dict) }}
    values:
      {{- toYaml $mergedValues | nindent 6 }}
    {{- end }}
  rollbackLimit: 3
  providerConfigRef:
    name: {{ $state.helmProviderConfigRef.name }}
    kind: {{ $state.helmProviderConfigRef.kind }}
